# Charts for GHG emission

In [14]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [15]:
#import dataset
df = pd.read_excel(r'C:\Users\daguajo\Downloads\EDGAR_2024_GHG_booklet_2024.xlsx', sheet_name=['GHG_totals_by_country','GHG_by_sector_and_country',
                                                                                              'GHG_per_GDP_by_country','GHG_per_capita_by_country'])
#access individual sheets
ghg_totals_df = df['GHG_totals_by_country']
ghg_sector_country_df = df['GHG_by_sector_and_country']
ghg_per_GDP_df = df['GHG_per_GDP_by_country']
ghg_per_capita = df['GHG_per_capita_by_country']

In [16]:
ghg_totals_df = ghg_totals_df.dropna()
ghg_sector_country_df = ghg_sector_country_df.dropna()
ghg_per_GDP_df = ghg_per_GDP_df.dropna()
ghg_per_capita = ghg_per_capita.dropna()

In [31]:
ghg_totals_df.set_index('EDGAR Country Code', inplace=True)

In [32]:
ghg_totals_df.tail()

,Country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
EDGAR Country Code,,,,,,,,,,,,,,,,,,,,,
ZMB,Zambia,12.463517,12.718537,13.299005,13.759407,13.976796,14.269532,14.699720,14.445728,14.267678,...,23.503291,23.615690,24.219765,25.930251,27.255061,26.824978,27.344120,28.249100,29.845830,30.484449
ZWE,Zimbabwe,21.723583,22.320466,21.961987,23.569806,23.655384,22.966457,24.095056,23.302597,22.280013,...,29.122990,30.205254,28.406508,27.886488,29.907540,28.369352,26.770627,28.878405,29.825427,31.019306
EU27,EU27,4591.422704,4615.906263,4767.686556,4986.348683,4946.211218,4858.723738,5122.759438,5111.491639,5280.784988,...,3825.528400,3879.728839,3889.377080,3912.269335,3830.658886,3678.016394,3388.278789,3577.018019,3482.310460,3221.794615
GLOBAL TOTAL,GLOBAL TOTAL,24002.751737,24048.408217,24971.278726,26185.418698,26182.148420,26194.503677,27323.858863,27990.648330,28695.045982,...,48930.176837,48808.767176,49058.441256,49878.733809,51026.627449,51278.347920,49327.538885,51568.250032,51968.471601,52962.900859
EURO AREA,EURO AREA,3818.975125,3848.486990,3986.204309,4184.625123,4165.299167,4043.942090,4269.365973,4229.514435,4373.971139,...,3351.391889,3398.163796,3406.821003,3422.813758,3347.536361,3208.107274,2944.530849,3111.743041,3025.562439,2796.254901

### Chart 1 - Evolution of GHG growth in the euro area, European Union (EU27) and worldwide

In [26]:
#plot of the multiple values - euro area, EU and worldwide
ghg_totals_df.plot = (x='year', y= ['EU27', 'GLOBAL TOTAL','EURO AREA'],
                     kind='line',
                     title='GHG evolution in the euro area, European Union (EU27) and worldwide')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (772320129.py, line 2)

In [33]:
ghg_totals_df.loc['EU27'].plot()

TypeError: no numeric data to plot